.container {
	margin: 100px;
}

.circle {
      width: 250px;
      height: 250px;
      background: yellow;
      border-radius: 50%;
	  border: 4px double black;
	  transition: transform 2.25s;
    }

.circle:hover{

	transform: translateX(300px)
	translateY(200px)
	scale(3)
	skew(-30deg);
	transition: all 2.25s ease;
}

	


